<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451535553993-19trouqn6r8g8eg5ahqukb26lg2l406d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451535553993-19trouqn6r8g8eg5ahqukb26lg2l406d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>451535553993-savfclg2g8fkth7ciofaaol4md7trfin.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_-dS8ureZ2BR7XsK2WCnCS62h9A_wJhA</string>
	<key>GCM_SENDER_ID</key>
	<string>451535553993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.calvignac.cfq</string>
	<key>PROJECT_ID</key>
	<string>cfq-prod-477ed</string>
	<key>STORAGE_BUCKET</key>
	<string>cfq-prod-477ed.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451535553993:ios:1d58e33465485dcc095418</string>
</dict>
</plist>